(
    player_horizontal_velocity: 80.0,
    player_jump: 250.0,
    gravity_accel: 1000.0,
    camera_follow: (
        time_to_target: 0.3,
        time_to_velocity: 0.3,
        min_velocity: 5.0,
        max_velocity: 100.0,
        lerp_multiplier: 15.0,
    )
)
